* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: #f7f9fc;
}

/* TITLES */
h1,
h2 {
    text-align: center;
}

/* HEADER */
body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    background-color: #f7f9fc;
    z-index: 1000;
}

body > header.at-the-top {
    border-bottom: none;
    box-shadow: none;
}

/* HEADER BUTTONS */
body > header > a {
    position: absolute;
    display: block;
    height: 100%;
    width: 50px;
    left: 10px;
    z-index: 11;
}

body > header > a > div,
body > header > a > div::after,
body > header > a > div::before {
    position: relative;
    display: block;
    content: "";
    background-color: #333;
    width: 30px;
    height: 4px;
    margin: 0;
    transition: transform 0.4s, top 0.4s, opacity 0.4s;
}

body > header > a > div {
    top: 22px;
    left: 10px;
}

body > header > a > div::after {
    top: -15px;
}

body > header > a > div::before {
    bottom: -11px;
}

body > header > nav.displayed + a > div::after {
    opacity: 0;
}

body > header > nav.displayed + a > div {
    transform: rotate(-45deg);
}

body > header > nav.displayed + a > div::before {
    transform: rotate(90deg);
    top: 0px;
}

/* HEADER TITLE */
body > header > p > a {
    font-size: 1.2em;
    z-index: 11;
    text-decoration: none;
    color: #222;
}

/* NAV */
body > header nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 10;
    overflow: hidden;
}

body > header > nav.displayed {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade 0.4s forwards;
}

body > header > nav ul {
    list-style: none;
    padding: 0;
}

body > header > nav li {
    margin: 20px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

body > header > nav a {
    text-decoration: none;
    color: #333;
    position: relative;
}

body > header > nav a::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    width: calc(100% + 20px);
    height: 20px;
    bottom: -12px;
    left: -10px;
    transform: scale(0, 1);
    transform-origin: 0% 50%;
    transition: transform 0.4s;
}

body > header > nav li:nth-child(1) a::before {
    background-color: #e84393;
}

body > header > nav li:nth-child(2) a::before {
    background-color: #6c5ce7;
}

body > header > nav li:nth-child(3) a::before {
    background-color: #00b894;
}

body > header > nav li:nth-child(4) a::before {
    background-color: #0984e3;
}

body > header > nav li:nth-child(5) a::before {
    background-color: #e17055;
}

body > header > nav li:hover a::before {
    transform: scale(1, 1);
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 700px) {
    body > header > a {
        display: none;
    }

    body > header > p {
        position: absolute;
        left: 20px;
        top: 0;
        line-height: 50px;
        z-index: 30;
    }

    body > header > nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        background-color: #f7f9fc;
    }

    body > header > nav ul {
        margin: 0 50px;
        display: flex;
        flex-direction: row;
    }

    body > header > nav ul li {
        font-size: 1em;
        margin: 0 10px;
    }
}

/* MAIN */
main {
    margin-top: 50px;
}

/* BUTTONS */
.button {
    display: block;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 2em;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 2px 2px 5px #ccc;
    transition: 0.1s box-shadow;
}

.button.pink {
    background-color: #c200ff;
    color: #fff;
}

.button:active {
    box-shadow: none;
}

/* ABOUT ME */
#about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

#about-me img {
    order: -1;
    background-color: #fff;
    box-shadow: 5px 5px 5px #ccc;
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

#about-me h1 {
    margin-top: 30px;
    font-size: 1.5em;
}

#about-me div p {
    margin: 15px 0 30px 0;
    font-size: 1.2em;
}

#about-me a.button {
    min-width: 170px;
}

@media (max-height: 600px) {
    #about-me img {
        height: 150px;
        width: 150px;
    }
}

@media (min-width: 850px) {
    #about-me {
        flex-direction: row;
        padding: 40px 50px;
    }

    #about-me h1 {
        text-align: left;
    }

    #about-me img {
        order: 0;
        margin-left: 100px;
    }

    #about-me div div {
        display: flex;
    }

    #about-me h1 {
        font-size: 2em;
    }

    #about-me p {
        text-align: left;
        font-size: 1.7em;
        font-weight: lighter;
    }

    #about-me a:first-child {
        margin-left: -5px;
    }

    #about-me .scroll-indicator p {
        font-size: 1em;
    }
}

/* PROJECTS */
#projects {
    min-height: calc(100vh - 50px);
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

#projects h2 {
    font-size: 1.9em;
    margin: 10px 0;
}

.projects-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
}

.projects-content article {
    cursor: pointer;
    height: 400px;
    width: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #ccc;
    text-align: justify;
    margin: 20px;
    z-index: 3;
    transition: box-shadow 0.4s;
}

.projects-content article a {
    text-decoration: none;
    color: #000;
}

.projects-content article:hover {
    box-shadow: 10px 10px 10px #ccc;
}

.projects-content article img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    transition: width 0.4s, left 0.4s;
}

.projects-content article:hover img {
    width: 120%;
    left: -10%;
}

.projects-content article div {
    padding: 10px 15px;
    position: relative;
    height: 230px;
    background-color: #fff;
    top: 0;
    transition: top 0.4s, height 0.4s;
}

.projects-content article:hover div {
    height: 287px;
    top: -90px;
}

.projects-content article div p:first-child {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 20px;
}

.projects-content article div p:nth-child(2) {
    height: 125px;
    overflow: hidden;
    transition: height 0.4s;
}

.projects-content article:hover div p:nth-child(2) {
    height: 180px;
}

.projects-content article div ul {
    position: absolute;
    display: flex;
    padding: 0;
    list-style: none;
    margin-top: 20px;
    bottom: 20px;
}

/* TOOLTIPS */
.projects-content article div ul li,
.tooltips a {
    text-decoration: none;
    background-color: #2c3e50;
    transition: background-color 0.4s;
    color: #fff;
    padding: 3px 10px;
    margin: 0 10px 0 0;
    border-radius: 2em;
}

.tooltips {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}

.tooltips div {
    display: flex;
    overflow-y: scroll;
    margin: 0 10px;
    scroll-behavior: smooth;
}

.tooltips .next svg,
.tooltips .previous svg {
    height: 1.1em;
    width: 20px;
    fill: #fff;
}

.tooltips .previous {
    transform: rotate(180deg);
}

.tooltips .next,
.tooltips .previous {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltips a.selected {
    background-color: #0984e3;
}

.tooltips div::-webkit-scrollbar {
    display: none;
}

@media (hover: none) and (pointer: coarse) {
    .tooltips .next,
    .tooltips .previous {
        display: none;
    }
}

.tooltips {
    -ms-overflow-style: none;
}

/* HOVER IS */
@media (pointer: coarse) {
    .projects-content article img {
        width: 120%;
        left: -10%;
    }

    .projects-content article div {
        height: 297px;
        top: -100px;
    }

    .projects-content article div p:nth-child(2) {
        height: 190px;
    }
}

#projects .button {
    margin: 20px;
}

.projects-content article.hidden {
    display: none;
}

/* FORMATION */
#formation {
    min-height: 700px;
    padding-bottom: 50px;
    position: relative;
    padding-top: 70px;
}

#formation .background {
    position: absolute;
    height: fit-content;
    width: 100%;
    bottom: -5px;
    z-index: 1;
}

#formation::before {
    content: "";
    height: calc(100% - 70px);
    width: 3px;
    position: absolute;
    background-color: #777;
    left: 20px;
    top: 70px;
    border-radius: 2em;
}

#formation .formation > div,
#formation .experience > div {
    border: 1px solid #ccc;
    margin: 10px 30px 20px 50px;
    padding: 10px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-shadow: 5px 5px 5px #ccc;
    transition: box-shadow 0.4s;
}

#formation .formation > div:hover,
#formation .experience > div:hover {
    box-shadow: 10px 10px 10px #ccc;
}

#formation .formation > div::before,
#formation .experience > div::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 3px solid #333;
    border-radius: 50%;
    position: absolute;
    left: -43px;
}

#formation .formation > div::after,
#formation .experience > div::after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #333 transparent transparent;
    position: absolute;
    top: 14px;
    left: -20px;
}

#formation .title {
    font-size: 1.2em;
    font-weight: bold;
}

#formation .date {
    font-size: 1.2em;
    text-align: right;
    margin-left: 10px;
}

#formation .lieu {
    margin-bottom: 10px;
}

#formation .formation > div > div,
#formation .experience > div > div {
    display: flex;
    justify-content: space-between;
}

#formation ul {
    list-style: circle;
    margin-left: 20px;
}

#formation h2 {
    padding: 20px;
}

@media (min-width: 800px) {
    #formation::before {
        left: 50%;
    }

    #formation {
        display: flex;
    }

    #formation .formation,
    #formation .experience {
        width: 50%;
    }

    #formation .formation > div::before {
        left: calc(100% + 19px);
    }

    #formation .formation > div::after {
        transform: rotate(180deg);
        left: calc(100% + 1px);
    }

    #formation .experience > div {
        margin: 150px 50px 10px 30px;
    }

    #formation .formation > div:nth-of-type(2) {
        margin-top: 150px;
    }
}

/* CONTACT */
#contact {
    min-height: calc(100vh - 50px);
    background-color: #2b0a80;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 50px;
}

#contact h2 {
    padding: 70px 20px;
    font-size: 2em;
}

#contact h3 {
    padding: 0 20px;
}

#contact div div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#contact a {
    display: block;
    margin: 0 10px;
}

#contact img {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #ccc;
    transition: 0.4s box-shadow;
}

#contact a:active img {
    box-shadow: none;
}

hr {
    margin: 50px auto;
    width: 100px;
}

/* FORM */
#contact .form,
#contact .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

#contact .form form {
    max-width: 700px;
}

#contact .form h3 {
    margin-bottom: 20px;
}

#contact .form input,
#contact .form textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    font-size: 1em;
}

#contact .form textarea {
    resize: vertical;
    min-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

#contact .form input[type="submit"] {
    border: none;
    font-size: 0.7em;
    max-width: 150px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #ccc;
    transition: 0.4s box-shadow;
}

#contact .form input[type="submit"]:active {
    box-shadow: none;
    margin-bottom: 50px;
}

/* SCROLL INDICATOR */
.scroll-indicator {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #333;
    text-decoration: none;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    animation: bounce 3s infinite;
}

.scroll-indicator p {
    margin: 0;
}

.scroll-indicator svg {
    fill: #333;
}

@keyframes bounce {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@media (max-height: 570px) {
    .scroll-indicator {
        display: none;
    }
}
