.scroll-indicator {
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    font-size: 0.7em;
    justify-content: center;
    align-items: center;
    animation: bounce 3s infinite;
}

.scroll-indicator svg {
    fill: #fff;
}

@keyframes bounce {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@media (max-height: 570px) {
    .scroll-indicator {
        display: none;
    }
}
